* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: #f9f9f9;
}

.container {
	width: 80%;
	height: 1000px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	background-color: #ffffff;
}

header {
	width: 80%;
	height: 170px;
	margin: 0 auto;
	padding-top: 40px;
}

.logo {
	width: 150px;
	height: 80px;
	background-image: url('img/logo.png');
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.menu {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
  background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}

.ul-menu {
	display: flex;
}

.menu-item {
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}

.menu-item:hover {
	transform: scale(1.02);
}

.a-menu {
	text-decoration: none;
	color: #ffffff;
}

.a-menu:hover {
	text-decoration: none;
	color: #ffffff;
}

main {
	display: flex;
	width: 100%;
	height: 403px;
	justify-content: center;
	margin-top: 50px;
}

.leftbox {
	width: 25%;
	height: 243px;
}

.rightbox {
	width: 55%;
	height: 403px;
	border: 1px solid #c8c8c8;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-goods {
	width: 80%;
	height: 300px;
}

.goods-item {
	width: 98%;
	height: 50px;
	border: 1px solid #f9f9f9;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	cursor: pointer;
	transition: 1s;
}

.goods-item:hover {
	transform: scale(1.01)
}

.goods-item:hover {
	background-color: #f9f9f9;
}

.my-active {
	background-color: #f9f9f9;
}

.info-goods {
	display: flex;
	width: 80%;
	height: 200px;
	margin: 20px auto;
}

.info-h2 {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.goods-info-li {
	width: 100%;
	height: 40px;
	border: 1px solid #f9f9f9;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	cursor: pointer;
}

.left-info-block {
	width: 30%;
	height: 300px;
	margin-top: 58px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-info-block {
	width: 70%;
	height: 200px;
}

.info-p {
	padding-left: 30px;
}

.btn-buy {
	width: 200px;
	height: 40px;
	background-color: green;
	border-radius: 15px;
	box-shadow: 1px 2px 0px darkgreen;
	cursor: pointer;
	transition: 1s;
	font-weight: 600;
}
.btn-buy:hover {
	transform: scale(.95)
}

.modal {
	display: block;
}