<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css.css">
</head>
<body>
	<div class="container" id="app">
		<header>
			<div class="logo"></div>
			<div class="menu">
				<ul class="ul-menu">
					<li class="menu-item"><a class="a-menu" href="#">Головна</a></li>
					<li class="menu-item"><a class="a-menu" href="#">Товари</a></li>
					<li class="menu-item"><a class="a-menu" href="#">Про нас</a></li>
					<li class="menu-item"><a class="a-menu" href="#">Контакти</a></li>
				</ul>
			</div>
	  </header>

	  <main>
	  	<div class="leftbox">
	  		<ul>
	  			<li 
	  			v-for="(element, i) in goods" 
	  			class="goods-item"
	  			v-on:click="selectGoods(i)"
	  			v-bind:class="{ 'my-active' : selectGoodsIndex === i}"
	  			>
	  			{{ i + 1 + '. ' }}{{ element.name + element.model }}
	  		
	  		</li>
	  		</ul>
	  	</div>
	  	<div class="rightbox">
	  		<img 
		  		class="img-goods" 
		  		:src="element.image" 
		  		:alt="element.name"
		  		>
	  	</div>
	  </main>
	  <div class="info-goods">
	  	<div class="left-info-block">
	  		<h5 v-on:click="textShow=!textShow"  
	  				class="goods-info-li"
	  				> {{textVisibility}}
	  		</h5>
	  		<ul v-if="textShow">
	  			<li class="goods-info-li"> Model: {{ element.name + element.model }}</li>
	  			<li class="goods-info-li"> Year: {{ element.year }}</li>
	  			<li class="goods-info-li"> Number: {{ element.phone + ' (' + element.owner + ')' }}</li>
	  			<li class="goods-info-li"> Price: {{  element.price }} грн</li>
	  		</ul>
	  		<input 
			  	type="button" 
			  	value="Buy"
			  	class="btn-buy" 
			  	@click="modalVisibility=true"
			  >
	  	</div>
	  	<div class="right-info-block">
		  	<h2 
		  		class="info-h2"> {{ element.name + element.model }} </h2>
		  	<h4 
			  	class="goods-info-li"
			  	>Info
				</h4>
		  	<p class="info-p" >{{ element.info }}</p>
		  </div>
	  </div>

	  <footer></footer>

	  		<div v-if="modalVisibility" class="modal fade show">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h4 class="modal-title">Bill</h4>
		        <button 
			        type="button" 
			        class="close" 
			        data-dismiss="modal" 
			        aria-label="Close"
			        @click="modalVisibility = false"
		        >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <h4>Do you want buy {{ element.name + element.model }}</h4>

		        <ul>
			  			<li class="goods-info-li"> Model: {{ element.name + element.model }}</li>
			  			<li class="goods-info-li"> Year: {{ element.year }}</li>
			  			<li class="goods-info-li"> Number: {{ element.phone + ' (' + element.owner + ')' }}</li>
			  			<li class="goods-info-li"> Price: {{  element.price }} грн</li>
			  		</ul>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button 
			        type="button" 
			        class="btn btn-primary"
		        >Buy</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal-backdrop fade show" v-if="modalVisibility"></div>

  </div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="js.js" ></script>

</body>
</html>